$pink: #fa777c;
$green: #5cc560;
$cyan: #31aab3;
$purple: #8b69c0;
$purple-light: #7475ab;
$grey: #d2d9e3;

$label-gold: #efddb9;
$label-purple: #b9bee8;
$label-green: #b7efbe;
$label-pink: #f3bcc2;

$font-large: 20px;
$font-medium: 16px;
$font-small: 14px;

$sidebar-background: #333f65;