.card {
  border: 1px solid $black;
  .rates {    
    font-size: 40px;
    font-weight: 600;
    span {
      color: $red;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
    }
  }
  .price-details {
    .strike {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        background: $gray;
        width: 100px;
        height: 2px;
        margin: 0 auto;
        right: 0;
      }
    }
  }
}
