.header-image {
  background-color: $dark-grey;
  @include bgImage("../assets/images/home-bg.png", no-repeat, cover, center);
  @include mq("tablet") {
    height: 100vh;
  }
  color: $white;
  .social-links {
    svg {
      @include mq("tablet") {
        width: 30px;
        height: 30px;
      }
    }
  }
}
.header-logo {
  height: auto;
}
footer {
  background-color: $dark-grey;
  color: $white;
}
